body{
    color: rgb(24, 24, 24);
    background: rgb(221, 221, 221);
    font-family: 'Roboto', sans-serif;
}
header{
    text-align: center;
}
a{
    text-decoration: none;
}

.nav-block{
    padding: 10px 20px;
    color: rgb(10, 104, 141);
    font-size: 20px;
}
.nav-block > span{
    padding: 10px 0;
    font-size: 36px;
}

main{
    width: 50%;
    margin: 20px auto;
}
.flex-container{
    display: flex;
}
.container-50pc{
    margin: 0 20px;
    width: 50%;
}
.winner{
    color: rgb(27, 211, 21);
}
.centered{
    text-align: center;
}

input, select{
    margin: 10px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}