{% extends "base.html" %}
{% block content %}

    <div class="flex-container">

        <div class="container-50pc">

            <form action="/game/data" method="POST">
                <input type="text" name="player_name" placeholder="Nickname" /><br />
                <select name="player_choice">
                    <option value="rock">ROCK</option>
                    <option value="paper">PAPER</option>
                    <option value="scissors">SCISSORS</option>
                </select><br />
                <input type="submit" value="PLAY" />
            </form>

        </div>

        <div class="container-50pc">

            <h2 class="winner">THE WINNER IS {{ winner_found }}</h2>
            
        </div>

    </div>

{% endblock %}